<content>   
    <div class="header-container">
        <div class="header-content">
            <div class="row">
                <div class="col-3 d-flex justify-content-center">
                     <a class="btn btn-outline-light w-100 border" routerLink="/home" routerLinkActive="active">Home</a> <!-- essayer routerLinkActive="gras" -->
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <a class="btn btn-outline-light w-100 border" routerLink="/today" routerLinkActive="active">Today Approaches</a>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <a class="btn btn-outline-light w-100 border" routerLink="/today" routerLinkActive="active">Test</a>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <a class="btn btn-outline-light w-100 border" routerLink="/about" routerLinkActive="active">About</a>
                </div>
            </div>
        </div>
    </div>
</content>
